<h2>Genre "<%= @genre.name %>"</h2>

<a href="/genres/<%= @genre.id %>/edit">Edit Genre</a>
<form class="" action="/genres/<%= @genre.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Genre">
</form>
<br>
<h2><%= @genre.name %> Albums</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>View stock:</th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
    <td><a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></a></td>
    <td><a href="/stock/<%= album.stock() %>"> Find in stock</td>
  </tr>
  <% end %>
</table>
