<h2>Genre "<%= @genre.name %>"</h2>

<p><a href="/genres/<%= @genre.id %>/edit">Edit genre</a></p>
<p><a href="/genres">View all genres</a></p>
<br>
<% unless Album.check_genre(@genre.id) %>
<form class="" action="/genres/<%= @genre.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Genre">
</form>
<% end %>
<br>
<h2><%= @genre.name %> Albums</h2>
<p style="text-decoration: underline;"><a href="/albums/new?genre_id=<%= @genre.id %>">Add new album</a></p>
<br>
<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>View stock:</th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
    <td><a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></a></td>
    <td><a href="/stock/<%= album.stock() %>"> Find in stock</td>
  </tr>
  <% end %>
</table>
