<h2>Suppliers</h2>
<br>
<p><a href="/suppliers/new">Add new supplier</a></p>

<br>
<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>Company</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
      <tr>
        <td><a href="/suppliers/<%= supplier.id %>"><%= supplier.company %></a></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.postcode %></td>
        <td><%= supplier.phone %></td>
        <td><a href="mailto:<%= supplier.email %>"><%= supplier.email %></a></td>
        <td><a href="<%= supplier.website %>"><%= supplier.website %></a></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
