<h2>Purchase History</h2>
<br>
<p><a href="/purchases/new">New order</a></p>
<br>
<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>View</th>
        <th>Time</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Delivery Time</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
      <tr>
        <td><a href="/purchases/<%= purchase.id %>"><%= purchase.id %></td>
          <td><%= purchase.formatted_order_time %></td>
          <td> <a href="/stock/<%= purchase.stock.id %>">
          <%= purchase.stock.album.title %> (<%= purchase.stock.album.artist.name %>)</a></td>
          <td><%= purchase.quantity %></td>
          <td>£<%= purchase.cost %></td>
          <td><% if purchase.delivery_time %>
            <%= purchase.formatted_delivery_time %>
            <% else %>
            <form class="" action="/purchases/<%= purchase.id %>" method="POST">
              <input type="submit" value="Mark as arrived">
              <% end %>
            </form>
          </td>
          <% end %>
        </tbody>
        <tfoot>
          <td><b>Total:</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td>£<%= Purchase.total_value() %></td>
          <td></td>
        </tfoot>
      </table>
    </div>
    <br>

    <form class="" action="/purchases/delete" method="post">
      <input type="submit" name="" value="Delete Purchase History">
    </form>
