<h2>Purchase Details</h2>

<p>Album: <a href="/stock/<%= @purchase.stock.id %>"><%= @purchase.stock.album.title %></a></p>
<p>Artist: <a href="/artists/<%= @purchase.stock.album().artist.id %>"><%= @purchase.stock.album.artist.name %></a></p>

<br>


<p>Order date: <%= @purchase.formatted_order_time %></a></p>
<p>Delivery date: <% if @purchase.delivery_time %>
    <%= @purchase.formatted_delivery_time %>
    <% else %>
    <form class="" action="/purchases/<%= @purchase.id %>" method="POST">
    <input type="submit" value="Mark as arrived">
    <% end %>
  </form>
</p>

<br>

<p>Quantity: <%= @purchase.quantity %></p>
<p>Purchase price: £<%= @purchase.stock.buy_price %></p>
<p>Total Cost: £<%= @purchase.cost %></p>

<br>

<form class="" action="/purchases/<%= @purchase.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Purchase from History">
</form>
