<p><%= @purchase.time %> purchase of <%= @purchase.quantity %> x "<%= @purchase.stock.album.artist.name %>/<%= @purchase.stock.album.title %>" marked as arrived.
<br>
<p><a href="/purchases/<%= @purchase.id %>">View order</a></p>
<p><a href="/purchases"> Back to Purchase Summary</a></p>
