<h2>Purchase details updated</h2>
<p> <a href="/purchases/<%= @purchase.id %>">Purchase of <%= @purchase.quantity %> x "<%= @purchase.stock.album.title %>" (<%= @purchase.stock.album.artist.name %>)</a> marked as arrived on <%= @purchase.formatted_delivery_time %>.
<br>
<p><a href="/purchases/<%= @purchase.id %>">View order</a></p>
<p><a href="/purchases"> Back to Purchase Summary</a></p>
