<h2>Checkout: </h2>

<p><a href="/checkout/new">Add to checkout</a></p>

<table>
  <tr>
    <th>Album</th>
    <th>Artist</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Date of Sale</th>
  </tr>
<% @sales.each do |sale| %>
<tr>
  <td><%= sale.id %></a></td>
  <td><a href="/sales/<%= sale.id %>"><%= sale.stock.album.title %></a></td>
  <td><a href="/artists/<%= sale.stock.album.artist.id %>"><%= sale.stock.album.artist.name %></td>
  <td><%= sale.quantity %></td>
  <td><%= sale.cost %></td>
  <td><%= sale.time %></td>
  <td>(arrive date)</td>
<% end %>
</table>

<br>

<form class="" action="/purchases/delete" method="post">
  <input type="submit" name="" value="Delete Sales History">
</form>
