<h2>Edit stock details for <%= @stock.album.title %></h2>

<form action="/stock/<%= @stock.id %>" method="POST">

  <br>
  <label for="album-input">Album: </label>
  <select id="album-input" name="album_id">
    <option value="<%= @stock.album_id %>"><%= @stock.album.title %></option>
  </select>
  <br>

  <label for="quantity-input">Quantity: </label>
  <input
  id="quantity-input"
  type="text"
  name="quantity"
  min="0"
  value="<%= @stock.quantity %>">

  <br>

  <label for="buy-price-input">Buy price: </label>
  <input id="buy-price-input"
  type="float"
  name="buy_price"
  min="0"
  value="<%= @stock.buy_price %>">

  <br>

  <label for="sell-price-input">Sell price: </label>
  <input id="sell-price-input"
  type="float"
  name="sell_price"
  min="0"
  value="<%= @stock.sell_price %>">

  <br>

  <label for="low-stock-input">Set low stock level: </label>
  <input id="low-stock-input"
  type="number"
  name="low_stock_level"
  min="0"
  value="<%= @stock.low_stock_level %>">

  <br>

  <label for="high-stock-input">Set high stock level: </label>
  <input id="high-stock-input"
  type="number"
  name="high_stock_level"
  min="0"
  value="<%= @stock.high_stock_level %>">

  <br>

  <input type="submit" name="" value="Update Stock">

</form>
