<h2>Stock</h2>
<p><a href="/stock/new">Add new album to stock</a></p>
<!-- <form>
  Search:
  <input type="search" name="search">
</form> -->
<br>
<p><a href="#">Most profitable album</a></p>
<br>
<table>
  <tr>
    <th>Album</th>
    <th>Artist</th>
    <!-- <th>Genre</th> -->
    <th>Stock level</th>
    <th>Stock value</th>
    <th>Potential profit</th>
  </tr>
<% @stocks.each do |stock| %>
<tr>
  <td><a href="/stock/<%= stock.id %>"><%= stock.album.title %></a></td>
  <td><a href="/artists/<%= stock.album.artist.id %>"><%= stock.album.artist.name %></td>
  <!-- <td><a href="/genres/<%= stock.album.genre.id %>"><%= stock.album.genre.name %></td> -->
  <td><%= stock.level() %></td>
  <td>£<%= stock.sell_price * stock.quantity %></td>
  <td>£<%= stock.markup * stock.quantity %></td>
<% end %>
</table>
