<h2>Stock</h2>
<p><a href="/stock/new">Add stock</a></p>
<!-- <form>
  Search:
  <input type="search" name="search">
</form> -->

<table>
  <tr>
    <th>Album</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Quantity in stock</th>
    <th>Stock level</th>
  </tr>
<% @stocks.each do |stock| %>
<tr>
  <td> <a href="/stock/<%= stock.id %>"><%= stock.album.title %></a></td>
  <td><%= stock.album.artist.name %></td>
  <td><%= stock.album.genre.name %></td>
  <td><%= stock.quantity %></td>
  <td><%= stock.level() %></td>
<% end %>
</table>
