<h2>Stock</h2>

<!-- <form>
  Search by album:
  <input type="search" name="search-albums">
</form> -->

<table>
  <tr>
    <th>Album</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Quantity</th>
  </tr>
<% @stocks.each do |stock| %>
<tr>
  <td> <a href="/stock/<%= stock.id %>"><%= stock.album.title %></a></td>
  <td><%= stock.album.artist.name %></td>
  <td><%= stock.album.genre.name %></td>
  <td><%= stock.quantity %></td>
<% end %>
</table>
