<h2>Stock</h2>
<p><a href="/stock/new">Stock new album</a></p>

<br>
<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Supplier</th>
        <th>Quantity</th>
        <th>Stock value</th>
        <th>Projected profit</th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
      <tr>
        <td><a href="/stock/<%= stock.id %>"><%= stock.album.title %></a> (<a href="/artists/<%= stock.album.artist.id %>"><%= stock.album.artist.name %></a>)</td>
        <td><%= stock.supplier.company if stock.supplier_id %></td>
        <td style=
          <% if stock.level() == "High" %>
            "background: lightgreen;"
          <% elsif stock.level() == "Medium" %>
            "background: yellow;"
          <% else %>
            "background: red;"
          <% end %>>
        <%= stock.quantity %></td>
        <td>£<%= (stock.sell_price * stock.quantity).round %></td>
        <td>£<%= (stock.markup * stock.quantity) %></td>
        <% end %>
      </tbody>
      <tfoot>
        <td><b>Total:</b></td>
        <td></td>
        <td><%= Stock.total_quantity() %> items</td>
        <td>£<%= Stock.total_value() %></td>
        <td>£<%= Stock.total_markup() %></td>
      </tfoot>
    </table>
  </div>
