<h2>Add to stock:</h2>

<form class="" action="/stock" method="POST">

  <br>
  <fieldset>
    <legend>Stock Information</legend>
    <br>
    <ul style="list-style: none;">

      <li>
        <label for="album-input">Album: </label>
        <select id="album-input" name="album_id">
          <% @albums.each do |album|  %>
          <option value="<%= album.id %>"<%= "selected" if album.id == @requested_album_id %>><%= album.title %> (<%= album.artist.name  %>)</option>
          <% end %>
        </select>
        <a href="/albums/new">Add new album</a>
      </li>

      <li>
        <label for="supplier-input">Supplier: </label>
        <select id="supplier-input" name="supplier_id" required>
          <% @suppliers.each do |supplier|  %>
          <option value="<%= supplier.id %>"<%= "selected" if supplier.id == @requested_supplier_id %>><%= supplier.company %></option>
          <% end %>
        </select>
        <a href="/suppliers/new">Add new Supplier</a>
      </li>

      <li>
        <label for="quantity-input">Quantity: </label>
        <input id="quantity-input"
        type="number"
        name="quantity"
        min="0"
        required="required"
        value="0">
      </li>

      <li>
        <label for="buy-price-input">Buy price: </label>
        <input id="buy-price-input"
        type="float"
        name="buy_price"
        min="0"
        placeholder="£">
      </li>

      <li>
        <label for="sell-price-input">Sell price: </label>
        <input id="sell-price-input"
        type="float"
        name="sell_price"
        min="0"
        placeholder="£">
      </li>

      <li>
        <label for="low-stock-input">Set low stock level: </label>
        <input id="low-stock-input"
        type="number"
        name="low_stock_level"
        min="0"
        placeholder="Set low stock level">
      </li>

      <li>
        <label for="high-stock-input">Set high stock level: </label>
        <input id="high-stock-input"
        type="number"
        name="high_stock_level"
        min="0"
        placeholder="Set high stock level">
      </li>

      <li>
        <input type="submit" value="Add to stock">
      </li>

    </ul>
  </fieldset>
</form>

<br>

<!-- <p>Album not in the list?  -->
