<h2>Stock Details for <a href="/artists/<%= @stock.album().artist.id %>">
<%= @stock.album().artist().name %></a> album
<a href="/albums/<%= @stock.album.id %>"> "<%= @stock.album().title %>"</a></h2>

<!-- <p>Album title: </p>
<p>Artist: </p> -->

<p>Buy price: £<%= @stock.buy_price %></p>
<p>Sell price: £<%= @stock.sell_price %></p>
<p>Markup: £<%= @stock.markup %></p>

<br>

<p>Quantity in stock: <%= @stock.quantity %></p>
<p>Low stock level: <%= @stock.low_stock_level %></p>
<p>High stock level: <%= @stock.high_stock_level %></p>

<br>

<p>Latest purchase: <%= Stock.latest_purchase(@stock.id) %></p>
<p>Latest delivery:  <%= Stock.latest_delivery(@stock.id) %></p>

<br>

<p><a href="/stock/<%= @stock.id %>/edit">Update Stock</a></p>
<p><a href="/purchases/new?stock_id=<%= @stock.id %>">Order Stock</a></p>

<form class="" action="/stock/<%= @stock.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Stock">
</form>
