<h2>Stock Details</h2>

<p>Album title: <a href="/albums/<%= @stock.album.id %>"><%= @stock.album.title %></a></p>
<p>Artist: <a href="/artists/<%= @stock.album().artist.id %>"><%= @stock.album.artist.name %></a></p>
<p>Genre: <a href="/genres/<%= @stock.album().genre.id %>"><%= @stock.album.genre.name %></a></p>

<br>

<p>Buy price: <%= @stock.buy_price %></p>
<p>Sell price: <%= @stock.sell_price %></p>

<br>

<p>Quantity in stock: <%= @stock.quantity %></p>
<p>Low stock level: <%= @stock.low_stock_level %></p>
<p>High stock level: <%= @stock.high_stock_level %></p>

<form class="" action="/stock/<%= @stock.id %>/edit" method="">
  <input type="submit" name="" value="Update Stock">
</form>

<form class="" action="/stock/<%= @stock.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Stock">
</form>
