<p>Album title: <%= @stock.album.title %></p>
<p>Album genre: <%= @stock.album.genre.name %></p>
<p>Artist: <%= @stock.album.artist.name %></p>
<p>Quantity in stock: <%= @stock.quantity %></p>

<form class="" action="/stock/<%= @stock.id %>/edit" method="">
  <input type="submit" name="" value="Update Stock">
</form>

<form class="" action="/stock/<%= @stock.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Stock">
</form>
