<h2>Albums</h2>

<p><a href="/albums/new">Add new album</a></p>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>View stock:</th>
  </tr>
<% @albums.each do |album| %>
<tr>
  <td><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
  <td><a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></td>
  <td><a href="/genres/<%= album.genre.id %>"><%= album.genre.name %></td>
  <td><a href="/stock/<%= album.stock().id %>"> View stock</td> 
<% end %>
</table>
