<h2>Album Catalogue</h2>
<br>
<p><a href="/albums/new">Add new album</a></p>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Year</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
  <% @albums.each do |album| %>
  <tr>
    <td><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
    <td><a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></td>
      <td><%= album.year %></td>
      <td><a href="/genres/<%= album.genre.id %>"><%= album.genre.name %></td>
      <% end %>
    </tbody>
  </table>
