<h2>Add album:</h2>

<form class="" action="/albums" method="POST">
  <fieldset>
    <legend>Album Information</legend>
    <br>
    <ul style="list-style: none;">

      <li>
        <label for="title-input">Album title: </label>
        <input id="title-input"
        type="text"
        name="title"
        required="required"
        placeholder="Add title">
      </li>

      <li>
        <label for="artist-input">Artist: </label>
        <select id="artist-input" name="artist_id">
          <% @artists.each do |artist|  %>
          <option value="<%= artist.id %>" <%= "selected" if artist.id == @requested_artist_id %>>
            <%= artist.name %></option>
            <% end %>
          </select>
        </li>

        <li>
          <label for="genre-input">Genre: </label>
          <select id="genre-input" name="genre_id">
            <% @genres.each do |genre|  %>
            <option value="<%= genre.id %>"><%= genre.name %></option>
            <% end %>
          </select>
        </li>

        <li>
          <label for="year-input">Year: </label>
          <input id="year-input"
          type="number"
          name="year"
          min="1900"
          max="2099"
          step="1"
          placeholder="Add year">
        </li>

        <li>
          <input type="submit" value="Add album">
        </li>

      </ul>
    </fieldset>
  </form>

  <br>

<p><a href="/artists/new">Add new artist</a></p>
<p><a href="/genres/new">Add new genre</a></p>
