<p>Album title: <%= @album.title %></p>
<p>Artist: <%= @album.artist.name %></p>
<p>Genre: <%= @album.genre().name %></p>

<p><a href="/albums/<%= @album.id %>/edit">Edit album</a></p>
<!-- decide whether to have a delete function at all -->

<form class="" action="/albums/<%= @album.id %>/edit" method="">
  <input type="submit" name="" value="Edit Album">
</form>

<form class="" action="/albums/<%= @album.id %>/delete" method="POST">
  <input type="submit" name="" value="Delete album">
</form>
