<h2>Album Details</h2>
<p>Album title: <a href="/stock/<%= @album.stock().id %>"><%= @album.title %></a></p>
<p>Artist: <%= @album.artist.name %></p>
<p>Genre: <%= @album.genre().name %></p>


<!-- decide whether to have a delete function at all -->

<a href="/albums/<%= @album.id %>/edit">Edit Album</a>

<form class="" action="/albums/<%= @album.id %>/delete" method="POST">
  <input type="submit" name="" value="Delete album">
</form>
