<h2>Sales Receipt: </h2>
<br>
<p>Date: <%= @new_sale.time %></p>
<p>Item: <%= @new_sale.stock.album.title %> by <%= @new_sale.stock.album.artist.name %></p>
<p>Quantity: <%= @new_sale.quantity %>
<p>Total price: <%= @new_sale.cost %></p>
