<% unless @sale_success_message == "Sale unsuccessful" %>
<h2>Sales Receipt: </h2>
<br>
<!-- <p>Date: <%= @new_sale.time %></p> -->
<p>Item: <%= @new_sale.stock.album.title %> by <%= @new_sale.stock.album.artist.name %></p>
<p>Quantity: <%= @new_sale.quantity %>
<p>Total price: <%= @new_sale.cost %></p>
<% else %>
<h2><%= @sale_success_message %></h2>
<p>Unfortunately, there is not enough in stock</p>
<% end %>
<br>
<p><a href="/sales">View All Sales</a></p>
