<h2>Sale History</h2>

<p><a href="/sales/new">New Sale</a></p>

<table>
  <tr>
    <th>View Receipt</th>
    <th>Album</th>
    <th>Artist</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Date of Sale</th>
  </tr>
<% @sales.each do |sale| %>
<tr>
  <td><a href="/sales/<%= sale.id %>">Sale <%= sale.id %></a></td>
  <td><%= sale.stock.album.title %></td>
  <td><%= sale.stock.album.artist.name %></td>
  <td><%= sale.quantity %></td>
  <td><%= sale.cost %></td>
  <td><%= sale.time %></td>
<% end %>
</table>

<br>

<form class="" action="/purchases/delete" method="post">
  <input type="submit" name="" value="Delete Sales History">
</form>
