<h2>Sale History</h2>

<p><a href="/sales/new">New Sale</a></p>

<table>
  <thead>
    <tr>
      <th>View</th>
      <th>Time of Sale</th>
      <th>Item</th>
      <!-- <th>Artist</th> -->
      <th>Quantity</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
    <tr>
      <td><a href="/sales/<%= sale.id %>">Sale <%= sale.id %></a></td>
      <td><%= sale.time %></td>
      <td><%= sale.stock.album.title %> (<%= sale.stock.album.artist.name %>)</td>
      <!-- <td></td> -->
      <td><%= sale.quantity %></td>
      <td>£<%= sale.cost %></td>
      <% end %>
    </tbody>
    <tfoot>
      <td><b>Total:</b></td>
      <td></td>
      <td></td>
      <!-- <td></td> -->
      <td></td>
      <td>£<%= Sale.total_value() %></td>
    </tfoot>
  </table>

  <br>

  <form class="" action="/purchases/delete" method="post">
    <input type="submit" name="" value="Delete Sales History">
  </form>
