<h2>Artist details</h2>
<p>Artist: <%= @artist.name %></p>
<p>Type: <%= @artist.type %></p>
<br>
<a href="/artists/<%= @artist.id %>/edit">Update Artist</a>
<form class="" action="/artists/<%= @artist.id %>/delete" method="post">
  <input type="submit" name="" value="Delete Artist">
</form>

<br>
<h2>Albums by Artist:</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>View stock:</th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
    <td><%= album.genre.name %></td>
    <td><a href="/stock/<%= album.stock().id %>"> View stock</td>
    <% end %>
  </table>
